<select (change)="onChange($event.target.value)">
  <option value="allAnimals">All Animals</option>
  <option value="oldAnimals">Old Animals</option>
  <option value="youngAnimals" selected="selected">Young Animals</option>
</select>

<ul>
  <li (click)="haveFed(currentAnimal)" *ngFor="let currentAnimal of childAnimalList | age:filterByAge">{{currentAnimal.species}} {{currentAnimal.name}} {{currentAnimal.age}} {{currentAnimal.diet}} {{currentAnimal.location}} {{currentAnimal.caretakeramount}} {{currentAnimal.sex}} {{currentAnimal.likes}} {{currentAnimal.dislikes}}
    <input *ngIf="currentAnimal.fed === true" type="checkbox" checked (click)="toggleFed(currentAnimal, false)"/>
    <input *ngIf="currentAnimal.fed === false" type="checkbox" (click)="toggleFed(currentAnimal, true)"/>
    <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit!</button>
  </li>
</ul>
