<h1>New Animal</h1>

 <div>
   <label>Enter Species:</label>
   <input #newSpecies>
 </div>
 <div>
   <label>Enter Name:</label>
   <input #newName>
 </div>
 <div>
   <label>Enter Age:</label>
   <input #newAge>
 </div>
 <div>
   <label>Enter Diet:</label>
   <input #newDiet>
 </div>
 <div>
   <label>Enter Location:</label>
   <input #newLocation>
 </div>
 <div>
   <label>Enter Caretakeramount:</label>
   <input #newCaretakeramount>
 </div>
 <div>
   <label>Enter Sex:</label>
   <input #newSex>
 </div>
 <div>
   <label>Enter Likes:</label>
   <input #newLikes>
 </div>
 <div>
   <label>Enter Dislikes:</label>
   <input #newDislikes>
 </div>
 <div>
  <button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakeramount.value, newSex.value, newLikes.value, newDislikes.value); newSpecies.value=''; newName.value=''; newAge.value=''; newDiet.value=''; newLocation.value=''; newCaretakeramount.value=''; newSex.value=''; newLikes.value=''; newDislikes.value='';">Add</button>
  </div>
